.todo-list {
    flex-grow: 1;
    overflow: hidden;
    .todo-item {
        height: 4.875em;
        display: flex;
        border-bottom: .0625em solid #F3F3F3;
    }
    .user-avatar-wrapper {
        width: 5em;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .user-avatar {
        background-image: url(./assets/img/dog.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 2.5em;
        width: 2.5em;
        border-radius: 50%;
    }
    .content-wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .todo-item-title {
        color: #544E52;
        height: 1.5em;
    }
    .todo-item-create-time {
        color: #B2BAC2;
        font-size: .875em;
        height: 1.4em;
    }
    .status-label {
        width: 4.28em;
        height: 1.714em;
        text-align: center;
        line-height: 1.714em;
        background-color: #58C17C;
        font-size: 14px;
        color: white;
        border-radius: .285em;
        display: inline-block;
    }
    .todo-item-text {
        height: 1.5em;
        display: inline-block;
        margin-right: .625em;
    }
    .checkout-box {
        width: 3.5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .checkout-icon {
        font-size: 1.2em;
        color: #58C17C;
    }
}