.sidebar {
    height: 100%;
    width: 17em;
    border-right: .0625em solid #F3F3F3;
    .header-row {
        width: 100%;
        height: 5em;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .setting-btn {
        font-size: 1.25em;
        color: #BDC4CD;
        width: 2em;
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .info-card {
        width: 100%;
        height: 12em;
        display: flex;
        flex-direction: column;
        align-items: center;
        .user-avatar {
            width: 4.5em;
            height: 4.5em;
            background-image: url(./assets/img/dog.jpg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            border-radius: 50%;
            box-shadow: 0 0 0 .5em white, 0 0 .625em .5em #BDC4CD;
        }
        .user-name {
            margin-top: 1.5em;
            color: #635D5E;
        }
    }
    .search-row {
        width: 15.1875em;
        height: 2.375em;
        margin: 0 auto;
        position: relative;
    }
    .search-icon {
        width: 1.375em;
        height: 1.375em;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: .5em;
        left: .625em;
        .fa-search {
            font-size: 1.2em;
            color: #B8BEC5;
        }
    }
    .search-input {
        width: 100%;
        height: 100%;
        outline: none;
        border: .0625em solid #F3F3F3;
        border-radius: 1em;
        padding: 0 1em;
        padding-left: 2.5em;
        font-size: 100%;
    }
    .category-list {
        width: 15.1875em;
        margin: 2.5em auto 0;
        color: #91969E;
        display: flex;
        flex-direction: column;
    }
    .category-item {
        height: 2.8em;
        flex-grow: 1;
        display: flex;
        background-color: #58C17C;
        color: white;
        position: relative;
        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 12px;
            top: 100%;
            width: 0;
            height: 0;
            border: solid .375em;
            border-color: #58C17C transparent transparent transparent;
        }
        .icon-wrapper {
            width: 2.25em;
            height: 2.8em;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .icon {
            font-size: 1.2em;
        }
    }
    .category-text {
        flex-grow: 1;
        line-height: 2.8;
    }
    .category-subitem {
        height: 2em;
        display: flex;
        background-color: #F6F7F9;
        margin: .875em .5em 0;
        .icon {
            width: 2em;
            height: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .icon::after {
            width: .5em;
            height: .5em;
            content: '';
            border-radius: 50%;
            display: block;
        }
        &.completed-tasks .icon::after {
            background-color: #58C17C;
        }
        &.unfinished-tasks .icon::after {
            background-color: #ff6e66;
        }
        .subitem-text{
            flex-grow: 1;
            line-height: 2em;
        }
    }
}