html {
    height: 100%;
}
body {
    height: 100%;
}
#page-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, hsla(181,74%,69%,1) 0%,hsla(190,67%,93%,1) 100%);
}
#App {
    height: 95%;
    width: 95%;
    background-color: white;
    display: flex;
    border-radius: .5rem;
}